@charset "utf-8";

/* 색 설정 */
:root {
    --main-color: #124137;
    --black-color : #222;
    --white-color : #fff
}

/* size */
@media screen and (max-width: 1250px) { } /* tablet */
@media screen and (max-width: 650px) { } /* mobile */

/* 스크롤 커스텀 */
html::-webkit-scrollbar {width: 8px;}
html::-webkit-scrollbar-thumb {background-color: var(--main-color); border-radius: 10px;}

/* 드래그 블록 커스텀 */
::selection { background-color:var(--main-color); color:#fff; }


/* default */
*{
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color : inherit;
    box-sizing: border-box;
    letter-spacing: inherit;
    line-height: inherit;
}

body{ font-family: 'Pretendard', sans-serif; font-weight:400; font-size: 16px; letter-spacing: -0.04em; }
section{ display:block; }
a{ color:inherit; }

.inner{ width:1200px; margin:0 auto; }

.paging_box{ padding:10px 0; display:flex; align-items: center; justify-content: center; }

select{
    -webkit-appearance: none; -moz-appearance: none;  appearance: none;
    background: url('../img/common/select-icon.png') no-repeat 98% 50% #fff; 
}
select::-ms-expand{ display:none; }
p{ word-break: keep-all; }

@media screen and (max-width: 1250px) { 
    .inner{ width:100%; padding:0 3vw; }
} /* tablet */
@media screen and (max-width: 650px) { 
    .paging_box{ font-size: 13px; }
} /* mobile */


/* #header_v2 */
#header_v2{ font-weight: 600; height: 81px; padding: 17px 0; box-shadow: 8px 13px 17px 0 rgba(0, 0, 0, 0.05); position: fixed; left: 0; top: 0; width: 100%; z-index: 99; background-color: #FFF;  }
#header_v2 .logo-box{ display: flex; gap: 18px; align-items: flex-end; }
#header_v2 .logo-box .bar{ background: #D9D9D9; width: 1px; height: 37px; } 
#header_v2 .inner{ display: flex; align-items: center; justify-content: space-between; }
#header_v2 .menu-list{ color: #1C312A; text-align: center; display: flex; align-items: center; gap: 41px; }
#header_v2 .menu-list > li{ position: relative; }
#header_v2 .menu-list > li > a{ display: flex; align-items: center; justify-content: center; position: relative; }
#header_v2 .menu-list > li > a::before{ content:''; position: absolute; bottom: -31px; display: block; width: 0; transition: width .2s; height: 3px; background-color: var(--main-color); }
#header_v2 .menu-list > li > a:hover::before{ width: 100%; }
#header_v2 .menu-list > li > .sub-menu{ display: none; align-items: center; gap: 30px; width: 600px; position: absolute; left: 0; top: calc(100% + 50px); }
#header_v2 .menu-list > li > .sub-menu.show{ display: flex; }
#header_v2 .apply-btn{ box-shadow: 5px 6px 4px 0 rgba(0, 0, 0, 0.05); color: #fff; background-color: #085F38; padding: 9px 26px; border-radius: 100px; font-size: 18px; }
#header_v2 .menu-btn{ text-align: center; background: transparent; border: none; width: 32px; height: 21px; display: none; flex-direction: column; justify-content: space-between;  }
#header_v2 .menu-btn .bar{transition: opacity .5s, transform .5s, width .5s; height: 2px; background-color: var(--main-color); display: block; }

#header_v2 .menu-btn.on .bar:nth-child(1){ transform: rotate(45deg) translateX(6px) translateY(5px); }
#header_v2 .menu-btn.on .bar:nth-child(2){ width: 0; }
#header_v2 .menu-btn.on .bar:nth-child(3){  transform: rotate(-45deg) translateX(8px) translateY(-7px); }


@media screen and (max-width: 1250px) { 
    #header_v2 { height: auto; }
    #header_v2 .menu-list{ display: none; }
    #header_v2 .btn-wrap{ display: flex; gap: 20px; align-items: center; }
    #header_v2 .menu-btn { display: flex; }
}
@media screen and (max-width: 950px) { 
    #header_v2 .apply-btn{ font-size: 16px; }
}
@media screen and (max-width: 650px) { 
    #header_v2 .apply-btn{ font-size: 14px; }
    #header_v2 .logo-box{ gap: 5px; }
    #header_v2 .logo-box .bar{ height: 28px; }
    #header_v2 .logo-box .logo.type1{ width: 80px; }
    #header_v2 .logo-box .logo.type2{ width: 110px; }
    #header_v2 .btn-wrap{ gap: 5px; }
    #header_v2 .apply-btn{ padding: 5px 10px; }
}
/* #header_v2 + .header_menu */
#header_v2 + .header_menu{ z-index: 8; display: none; background-color: #efefef; position: fixed; top: 81px; width: 100%; height: 58px; }
#header_v2 + .header_menu.show{ display: block; }

@media screen and (max-width: 1250px) { 
    #header_v2 + .header_menu.show{ display: none; }
}

/* .slide-section */
.slide-section{ display: none; }
@media screen and (max-width: 1250px) { 
    .slide-section{ width: 90%; max-width: 300px; display:block; position: fixed; z-index: 10; right: -300px; transition:right .5s; height: calc(100%); background-color: #fff; padding: 100px 20px 50px 20px; }
    .slide-section.on{ right: 0; }
    .slide-section .item{ cursor: pointer; padding: 10px 0; font-size: 20px; font-weight: 500; display: flex; align-items: center; justify-content: space-between; }
    .slide-section .item .plus-minus{ background: transparent; border: none; position: relative; display: flex; align-items: center; justify-content: center; width: 20px; height: 20px; }
    .slide-section .item .plus-minus .bar{ display: block; height: 2px; background-color: var(--main-color); width: 100%; }
    .slide-section .item .plus-minus .bar:nth-child(2){ position: absolute; transition: transform .2s; transform: rotate(-90deg); }
    .slide-section .item.on .plus-minus .bar:nth-child(2){  transform: rotate(0deg); }
    .slide-section .sub-menu{ display:none; }
    .slide-section .sub-menu > li > a{ display: block; padding: 10px 0; color: #666; }
}

/* .slide-bg-close */
@media screen and (max-width: 1250px) { 
    .slide-bg-close{ opacity: 0; visibility: hidden; cursor: pointer; background-color: rgba(0, 0, 0, 0.05); width: 100%; height: 100%; position: fixed; left: 0; top: 0; z-index: 9; }
    .slide-bg-close.on{ opacity: 1; visibility: visible; }
}

/* footer */
footer{ background-color: #212121; padding: 30px 0 30px 0; }
footer .box1{ border-bottom:1px solid rgba(217, 217, 217, .4); color: #fff; font-size: 18px; display: flex; align-items: flex-end; justify-content: space-between; padding-bottom: 10px; }
footer .copy_right{ padding-top: 12px; font-size: 12px; color: #7F7F7F; }

@media screen and (max-width: 1250px) { 
    footer .box1{ font-size: 16px; }
}
@media screen and (max-width: 650px) { 
    footer .logo{ width: 100px; }
    footer .box1{ font-size: 14px; }
}


/* .sec_top */
.sec_top{ padding-top: 81px; }
@media screen and (max-width: 650px) { 
    .sec_top{ padding-top: 62px; }
}

/* .main > section */
.main > section{ position: relative; overflow: hidden; min-height: 100vh; display: flex; align-items: center; justify-content: center; padding: 100px 0; }

@media screen and (max-width: 1250px) { 
    .main > section{ min-height: auto; padding: 50px 0; }
}
@media screen and (max-width: 1250px) { 
    .main > section{ min-height: auto; }
}
/* .main  .main_visual*/
.main  .main_visual{ padding: 100px 0; min-height: 100vh; position: relative; overflow: hidden; background-image: url('../img/main/main_visual/background.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; }
.main  .main_visual .t1{ font-weight: 500; text-align: center; color: #446158; font-size: 26px; display: flex; align-items: center; gap: 28px; }
.main  .main_visual .t1 b{ font-weight: 700; }
.main  .main_visual .t2{ font-weight: 400; font-size: 33px; color: #1E5945; line-height: 1.5em; margin-top: 52px; padding-left: 22px; border-left: 7px solid var(--main-color); }
.main  .main_visual .t2 b{ font-weight: 700; } 
.main  .main_visual .t2 .underline{ font-size: 1.25em; background: linear-gradient(to top, rgba(30, 89, 69, .2) 50%, transparent 50%); }
.main  .main_visual .btn-wrap{ margin-top:83px; display: flex; align-items: flex-start; }
.main  .main_visual .btn-wrap .more-btn{ display:flex; align-items: center; justify-content: center; gap: 5px; font-weight: 500; padding: 7px 33px; font-size: 18px; color: #fff; line-height: 2.5em; background: linear-gradient(90deg, rgba(48, 131, 105, 0.00) 0%, #308369 100%), #1E5945; border-radius: 100px; }
.main  .main_visual .people{ width: auto; height: 89vh; position: absolute; left: calc(((100% - 1200px) / 2) + 650px); bottom: 0; }

@media screen and (max-width: 1150px) { 
    .main  .main_visual{ padding: 150px 0; min-height: auto; } 
    .main .main_visual .people{ width: 38vw; height: auto; right: 3vw; left: auto; }
    .main .main_visual .t1{ font-size: 2vw; gap: 2vw; }
    .main .main_visual .t1 .icon{ width: 3.5vw; }
    .main .main_visual .t2{ font-size: 2.8vw; }
    .main .main_visual .btn-wrap .more-btn{  font-size: 16px; line-height: 2em; }
}
@media screen and (max-width: 950px) { 
    .main .main_visual{ padding: 100px 0 0 0; }
    .main .main_visual .text-box{ display: flex; flex-direction: column; gap: 0; text-align: center; align-items: center; }
    .main .main_visual .t1{ font-size: 3.5vw; }
    .main .main_visual .t2{ font-size: 4vw; padding-left: 0; border-left: none; margin-top: 5vw; }
    .main .main_visual .btn-wrap{ margin-top: 7vw; }
    .main .main_visual .people{ width: 100%; max-width: 600px; padding-left: 9%;  position: static; display: block; margin: 60px auto 0 auto; }
}
@media screen and (max-width: 650px) { 
    .main .main_visual{ padding: 50px 0 0 0; }
    .main .main_visual .t1{ font-size: 4.5vw; }
    .main .main_visual .t2{ margin-top: 7vw; font-size: 4.5vw; }
    .main .main_visual .btn-wrap .more-btn{ padding: 7px 20px; font-size: 14px; gap: 8px; }
    .main .main_visual .btn-wrap .more-btn .icon{ width: 14px; }
    .main .main_visual .people{ margin-top: 5vw; }
}

/*.bottom-apply */
.bottom-apply{ transition: bottom .5s; color: #fff; position: fixed; padding: 17px 0; left: 0; bottom: 0; z-index: 9; width: 100%; background-color: #1E5945; border-radius: 40px 40px 0 0; }
.bottom-apply.hide{ bottom: -160px; }
.bottom-apply .inner{ display: flex; gap: 13px; align-items: center; }
.bottom-apply .text{ font-size: 20px; font-family: "Paperlogy"; }
.bottom-apply .tel{ font-size: 32px; font-weight: 700; }
.bottom-apply .ipt-list{ display: flex; gap: 11px; }
.bottom-apply .ipt-list .ipt{ font-size: 14px; border-radius: 4px; border: 1px solid #09241E; background-color: #09241E; color: #fff;  }
.bottom-apply .ipt-list .ipt::placeholder{ color: #7F7F7F; }
.bottom-apply .agreeCheckDiv{ color: #fff; }
.bottom-apply .agreeCheckDiv label input[type="checkbox"] + .textBox::before{ border: 1px solid #fff; }
.bottom-apply .agreeCheckDiv label input[type="checkbox"]:checked + .textBox::before{ background-color: transparent; background-image: url('../img/common/wthie-check-icon.svg'); }
.bottom-apply .submit-btn{ padding: 14px 21px; font-size: 18px; font-weight: 700; border-radius: 4px; background-color: #D1A765; border: none; }

@media screen and (max-width: 1250px) { 
    .bottom-apply .inner{ justify-content: center; flex-wrap: wrap; }
    .bottom-apply .ipt-list{ width: 100%; }
    .bottom-apply .agreeCheckDiv{ flex-grow: 1; }
    .bottom-apply .submit-btn{ flex-grow: 1; }
    .bottom-apply .text br{ display: none; }
}
@media screen and (max-width: 950px) { 
    .bottom-apply { border-radius: 20px 20px 0 0; }
    .bottom-apply .ipt-list{ gap: 5px; }
    .bottom-apply .text{ font-size: 16px; }
    .bottom-apply .tel{ font-size: 18px; }
}
@media screen and (max-width: 650px) { 
    .bottom-apply .inner{ justify-content: flex-start; }
    .bottom-apply .ipt-list .ipt{ font-size: 13px; }
    .bottom-apply .submit-btn{ font-size: 16px; padding:8px 10px; }
}

/* .main .number1_section */
.main .number1_section{ background-image: url('../img/main/number1_section/background.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; }
.main .number1_section h2.title{ font-size: 52px; color: #1E5945; }
.main .number1_section h2.title .moBr{ display: none; }
.main .number1_section h2.title b{ font-weight: 700; }

.main .number1_section .number-box{ margin-top: 21px; border-left: 2px solid #1E5945; display: flex; flex-direction: column; align-items: flex-end; text-align: right; }
.main-title .number{ opacity: .3; color: #1E5945; font-weight: 700; font-size: 106px; }
.main-title .title{ font-size: 52px; font-weight: 700; color: #1E5945; }
.main-content{ word-break: keep-all; margin-top:13px; font-size: 20px; line-height: 1.5em; color: #1E5945; font-weight: 500; }
.main-content b{ font-weight: 700; }

.main .number1_section .item-list{ width: calc(100% + 34px); margin-left: -17px; margin-top: 18px; display: flex; }
.main .number1_section .item-list > li{ padding: 0 17px; width: calc(100% / 3); }
.main .number1_section .item{ height: 100%; display: flex; text-align: center; flex-direction: column; align-items: center; justify-content: center; gap: 17px; width: 100%; padding: 25px 10px; background-color: #FFF; box-shadow: 6px 9px 13px 0 rgba(0, 0, 0, 0.15); border-radius: 10px; }
.main .number1_section .item .icon{ width: 80px; height: 90px; background-size: cover; background-repeat: no-repeat; background-position: center; }
.main .number1_section .item .content{ color: #1E5945; line-height: 1.5em; font-size: 18px; font-weight: 500; }
.main .number1_section .item .content b{ font-weight: 700; }
.main .number1_section .item .content .big{ font-size: 1.25em; }

@media screen and (max-width: 1250px) { 
    .main .number1_section h2.title{ font-size: 34px; }
    .main-title .number{ font-size: 60px; }
    .main-title .title{ font-size: 34px; }
    .main-content{ font-size: 18px; }
    .main .number1_section .item-list{ width: calc(100% + 10px); margin-left: -5px; }
    .main .number1_section .item-list > li{padding: 0 5px; }
    .main .number1_section .item .content{ font-size: 16px; }
}
@media screen and (max-width: 950px) { 
    .main .number1_section .item-list{ width: 100%; margin: 20px auto 0 auto; gap: 10px; flex-direction: column; }
    .main .number1_section .item-list > li{ padding: 0; width: 100%; }
}
@media screen and (max-width: 650px) { 
    .main .number1_section h2.title{ font-size: 24px; }
    .main .number1_section h2.title .moBr{ display: inline-block; }
    .main-title .number{ font-size: 40px; }
    .main-title .title{ font-size: 24px; }
    .main-content{ word-break: keep-all; font-size: 14px; }
    .main .number1_section .number-box{ padding-left: 10px; }
    .main .number1_section .item .icon{ width: 60px; height: 50px; }
    .main .number1_section .item .content{ font-size: 14px; }
}

/* .main .show-section */
.main .show-section{ line-height: 1.5em; text-align: center; color: #fff; font-size: 36px; font-weight: 700; background-image: url('../img/main/show-section/background.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; min-height: auto; padding: 90px 0; }
.main .show-section br{ display: none; }

@media screen and (max-width: 1250px) { 
    .main .show-section{ font-size: 24px; }
}
@media screen and (max-width: 650px) { 
    .main .show-section{ font-size: 18px; padding: 50px 0; }
    .main .show-section br{ display: inline-block; }
}

/* .main .number2_section */
.main .number2_section{ background-color: #144534; }
.main .number2_section .main-title .number{ color: #fff; }
.main .number2_section .main-title .title{ color: #fff; }
.main .number2_section .main-content{ color: #fff; }
.main .number2_section .inner{ display: flex; align-items: center; justify-content: space-between; gap: 20px; }
.main .number2_section .item{ filter: drop-shadow(0 4px 79.2px rgba(0, 0, 0, 0.25)); }

@media screen and (max-width: 1250px) { 
    .main .number2_section .item{ width: 48vw; }
}
@media screen and (max-width: 950px) { 
    .main .number2_section .inner{ flex-direction: column; gap: 30px; }
    .main .number2_section .content-div{ width: 100%; }
    .main .number2_section .item{ width: 80%; max-width: 600px; }
}
@media screen and (max-width: 650px) { 
    .main .number2_section .main-content .moNone{ display: none; }
}

/* .main .possible-section */
.main .possible-section{ color: #fff; min-height: unset; padding: 30px 0 0 0; background-color: #4C9142; }
.main .possible-section .inner{ display: flex; align-items: center; justify-content: center; gap: 20px; }
.main .possible-section p{ line-height: 1.25em; font-size: 32px; }
.main .possible-section p:nth-child(1){ padding-right: 154px; }
.main .possible-section p.bold{ font-weight: 700; text-align: right; }

@media screen and (max-width: 1250px) { 
    .main .possible-section p{ font-size: 24px; }
    .main .possible-section p:nth-child(1){ padding-right: 84px; }
}
@media screen and (max-width: 650px) { 
    .main .possible-section { padding-top:10px; }
    .main .possible-section p{ font-size: 18px; }
    .main .possible-section p:nth-child(1){ padding-right: 40px; }
    .main .possible-section .item{ width: 30vw; }
}

/* .main .number3_section */
.main .number3_section{ background-image: url('../img/main/number3_section/background.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; }
.main .number3_section .title-box{ display: flex; align-items: center; justify-content: space-between; gap: 10px; }
.main .number3_section .title-box .main-title{ display: flex; align-items: center; gap: 24px; }
.main .number3_section .title-box .bubble-wrap{ display: flex; align-items: flex-end; gap: 10px; }
.main .number3_section .item-list{ display: flex; flex-wrap: wrap; margin-top: 18px; width: calc(100% + 18px); margin-left: -9px; }
.main .number3_section .item-list > li{ padding: 0 9px ; width: calc(100% / 4); }
.main .number3_section .item-list .item{ overflow: hidden; border-radius: 10px; box-shadow: 6px 9px 13px 0 rgba(0, 0, 0, 0.15); background-color: #fff; }
.main .number3_section .item-list .item .black-bar{ background-color: #09241E; line-height: 1.5em; font-weight: 700; text-align: center; padding: 4px 0; color: #fff; }
.main .number3_section .item-list .item .content-wrap{ padding: 20px 12px; }
.main .number3_section .item-list .item .content-wrap .t1{ font-size: 22px; color: #446158; font-weight: 700; line-height: 1.5em; padding-bottom: 4px; border-bottom: 2px solid #446158; }
.main .number3_section .item-list .item .content-wrap .c1{ margin-top: 13px; font-size: 18px; font-weight: 700; line-height: 1.25em; color: #446158; }
.main .number3_section .item-list .item .content-wrap .gray-box{ font-weight: 500; color: #446158; padding: 15px 13px; background-color: #F5F6F6; border-radius: 4px; margin-top: 22px; }
.main .number3_section .item-list .item .content-wrap .gray-box .price-div{ border-bottom: 1px solid rgba(68, 97, 88, .2); padding: 12px 0; display: flex; align-items: center; justify-content: space-between; }
.main .number3_section .item-list .item .content-wrap .gray-box .price-div .label{ flex-shrink: 0; }
.main .number3_section .item-list .item .content-wrap .gray-box .price-div .count{ font-weight: 700; }
.main .number3_section .item-list .item .content-wrap .gray-box .gold-box{ border-radius: 4px; margin-top: 20px; display: block; background-color: #D1A765; padding: 10px; color: #fff; text-align: center; font-weight: 700; font-size: 15px;  }
.main .number3_section .item-list .item .content-wrap .more-view{ text-align: center; margin-top: 13px; font-weight: 700; font-size: 18px; color: #446158; }
.main .number3_section .btn-wrap{ margin-top: 25px; display: flex; align-items: center; justify-content: center; }
.main .number3_section .btn-wrap .more-btn{ font-size: 22px; padding: 10px 58px; line-height: 1.5em; color: #fff; font-weight: 700; border-radius: 10px; background: #124137; box-shadow: 0 6px 0 0 #062517; }

@media screen and (max-width: 1250px) { 
    .main .number3_section .title-box{ flex-direction: column; justify-content: flex-start; align-items: flex-start; }
    .main .number3_section .title-box .bubble-wrap{ width: 100%; justify-content: flex-end; }
    .main .number3_section .bubble1{ width: 30vw; }
    .main .number3_section .bubble2{ width: 50vw; }
    .main .number3_section .item-list{ width: calc(100% + 10px); margin-left: -5px; }
    .main .number3_section .item-list > li{ padding: 0 5px; }
    .main .number3_section .item-list .item .content-wrap .t1{ font-size: 18px; }
    .main .number3_section .item-list .item .content-wrap .c1{ font-size: 16px; }
}
@media screen and (max-width: 950px) { 
    .main .number3_section .item-list > li{ width: calc(100% / 2); padding: 10px 5px; }
    .main .number3_section .btn-wrap .more-btn{ font-size: 18px; }
}
@media screen and (max-width: 650px) { 
    .main .number3_section .bubble1{ width: 50%; }
    .main .number3_section .bubble2{ width: 80%; }
    .main .number3_section .title-box .bubble-wrap{ flex-direction: column; }
    .main .number3_section .item-list > li{ width: 100%; }
    .main .number3_section .item-list .item .content-wrap{ font-size: 14px; }
    .main .number3_section .item-list .item .content-wrap .more-view{ font-size: 16px; }
    .main .number3_section .btn-wrap .more-btn{ width: 100%; padding: 15px 0 10px 0; text-align: center; font-size: 16px; }
}
@media screen and (max-width: 450px) { 
    .main .number3_section .item-list{ margin-top: 0; }
    .main .number3_section .bubble1{ width: 70%; }
    .main .number3_section .bubble2{ width: 100%; }
}

/* .main .together-section */
.main .together-section{ text-align: center; font-size: 32px; font-weight: 700; color: #fff; line-height: 1.5em; min-height: unset; padding: 85px 0; background-image: url('../img/main/together-section/background.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; }
@media screen and (max-width: 1250px) { 
    .main .together-section{ font-size: 24px; }
}
@media screen and (max-width: 650px) { 
    .main .together-section{ padding: 50px 0; font-size: 18px; word-break: keep-all; }
}
@media screen and (max-width: 500px) { 
    .main .together-section{ font-size: 4.5vw; }
}

/* .main .number4_section */
.main .number4_section .main-title{ display: flex; align-items: center; gap: 23px; justify-content: center; }
.main .number4_section .main-title .number{ opacity: 1; }
.main .number4_section .main-content{ margin-top: 0; text-align: center; }
.main .number4_section .main-content .t1{ line-height: 1.5em; font-weight: 700; font-size: 1.5em; }
.main .number4_section .item-list{ margin-top: 26px;  }
.main .number4_section .item-list > li + li{ margin-top: 6px; }
.main .number4_section .item-list .item{ background-size: cover; background-repeat: no-repeat; background-position: center; position: relative; gap: 140px; color: #fff; font-size: 28px; font-weight: 700; padding: 88px 0; border-radius: 10px; background-color: #4C9142; position: relative; overflow: hidden; display: flex; align-items: flex-end; justify-content: center;  }
.main .number4_section .item-list .item .text{ position: relative; top: 20px; width: 32%; }
.main .number4_section .item-list .item .number{ display: flex; align-items: center; justify-content: center; }
.main .number4_section .item-list .item .number p{ position: absolute; font-size: 232px; margin-top: 15px; opacity: .4; }
.main .number4_section .item-list > li:nth-child(2n-1) .item{ text-align: right; }
.main .number4_section .item-list > li:nth-child(2n) .item{ background-color: #1E5945; flex-direction: row-reverse; }

@media screen and (min-width: 1251px) { 
    .main .number4_section .item-list > li:nth-child(4) .item{ padding-top: 57px; }
    .main .number4_section .item-list > li:nth-child(4) .item .number p{ margin-top: 9px; }
}
@media screen and (max-width: 1250px) { 
    .main .number4_section .item-list .item{ font-size: 24px; }
    .main .number4_section .item-list .item .text{ width: 34vw; }

}
@media screen and (max-width: 950px) { 
    .main .number4_section .item-list .item{ gap: 20px; padding: 0; padding-top: 30px; align-items: center; }
    .main .number4_section .item-list .item .text{ width: 330px; top: 0; }
    .main .number4_section .item-list .item .number p{ font-size: 167px; line-height: .7em; position: relative; margin-top: 0; }
}
@media screen and (max-width: 650px) { 
    .main .number4_section .item-list .item{ font-size: 4.5vw; gap: 3vw; padding-top: 5vw; }
    .main .number4_section .item-list .item .text{ font-size: 18px; width: 276px;}
}
@media screen and (max-width: 400px) { 
    .main .number4_section .item-list .item .number p{ font-size: 36vw; }
    .main .number4_section .item-list .item .text{ width: 63vw; font-size: 4.5vw; }
}

/* .main .youtube-section */
.main .youtube-section{ background-image: url('../img/main/youtube-section/background.jpg'); background-size: cover; background-position: top center; background-repeat: no-repeat; }
.main .youtube-section .profile-div{ display: flex; align-items: center; justify-content: space-between; padding-bottom: 17px; border-bottom: 1px solid #124137; }
.main .youtube-section .profile-div .profile{ display: flex; align-items: center; gap: 25px; }
.main .youtube-section .profile-div .profile .img-box{ width: 138px; height: 138px; border-radius: 50%; overflow: hidden; background-size: cover; background-repeat: no-repeat; background-position: center; }
.main .youtube-section .profile-div .profile .txt{ font-size: 42px; color: #446158; font-weight: 700; }
.main .youtube-section .profile-div .more-view{ line-height: 1.8em; display: flex; align-items: center; gap: 10px; padding: 12px 68px; border-radius: 5px; background-color: #4C9142; color: #fff; font-size: 20px; font-weight: 700; }
.main .youtube-section .yotube-div{ margin-top: 26px; }
.main .youtube-section .yotube-div .video-div{ border-radius: 10px 10px 0 0; overflow: hidden; height: 616px; }
.main .youtube-section .yotube-div .title{ overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;  line-height: 2.5em; font-size: 20px; color: #fff; font-weight: 700; background-color: #1E5945; padding: 0 20px; }
.main .youtube-section .item-list{ display: grid; grid-template-columns: repeat(3,1fr); grid-gap: 15px; margin-top: 24px; padding-top: 24px; border-top: 1px solid #124137; }
.main .youtube-section .item-list .item .img-box{ height: 216px; background-image: url('../img/main/youtube-section/thumbnail.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; }
.main .youtube-section .item-list .item .subject{ overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; color: #fff; font-weight: 700; line-height: 2em; padding: 5px 20px; background-color: #1E5945;  }

@media screen and (max-width: 1250px) { 
    .main .youtube-section .profile-div .profile{ gap: 10px; }
    .main .youtube-section .profile-div .profile .img-box{ width: 80px; height: 80px; }
    .main .youtube-section .profile-div .profile .txt{ font-size: 24px; }
    .main .youtube-section .profile-div .more-view{ padding: 7px 20px; font-size: 16px; }
    .main .youtube-section .yotube-div .video-div{ height: 52vw; }
    .main .youtube-section .item-list .item .img-box{ height: 17vw; }
}
@media screen and (max-width: 950px) { 
    .main .youtube-section .item-list{ grid-gap: 8px; }
    .main .youtube-section .item-list .item .subject{ font-size: 14px; padding: 5px 10px; }
}
@media screen and (max-width: 650px) { 
    .main .youtube-section .item-list{ grid-template-columns: repeat(2, 1fr); }
    .main .youtube-section .yotube-div .title{ font-size: 18px; }
    .main .youtube-section .item-list .item .img-box{ height: 25vw; }

    .main .youtube-section .profile-div .profile .img-box{ width: 40px; height: 40px; }
    .main .youtube-section .profile-div .profile .txt{ font-size: 18px; }
    .main .youtube-section .profile-div .more-view{ font-size: 14px; padding: 5px 10px; }
}

/* .main .apply-section */
.main .apply-section{ background-color: #144534; color: #fff; padding-bottom: 0; }
.main .apply-section .half-box{ display: flex; justify-content: space-between; gap: 20px; align-items: center; }
.main .apply-section .half-box .content-box{ display: flex; flex-direction: column; align-items: flex-start; justify-content: center; }
.main .apply-section .half-box .content-box .t1{ line-height: 1.5em; margin-top: 32px; font-size: 22px; }
.main .apply-section .half-box .content-box .t2{ line-height: 1.5em; font-weight: 700; font-size: 32px; }
.main .apply-section .half-box .content-box .bar{ width: 1px; height: 100px; margin-top: 36px; background-color: #fff; }
.main .apply-section .half-box .content-box .content{ line-height: 1.5em; margin-top: 36px; font-size: 26px; font-weight: 700; color: #D1A765; }
.main .apply-section .half-box .phone-wrap{ flex-shrink: 0; display: flex; flex-direction: column; width: 651px; height: 854px; padding: 157px 110px 0 110px; background-image: url("../img/main/apply-section/phone-bg.png"); background-size: contain; background-repeat: no-repeat; background-position: bottom center; }
.main .apply-section .half-box .phone-wrap .content-list > li{ display: none; }
.main .apply-section .half-box .phone-wrap .content-list > li.show{ display: block; }
.main .apply-section .item{ text-align: center; display: flex; align-items: center; justify-content: center; flex-direction: column; }
.main .apply-section .item .progress{ display: flex; align-items: center; gap: 10px; justify-content: center; width: 100%; }
.main .apply-section .item .progress .dot{ background-color: #FFF; width: 12px; height: 12px; border-radius: 50%; opacity: 0.62; }
.main .apply-section .item .progress .dot.on{ opacity: 1; width: 25px; border-radius: 20px; }
.main .apply-section .item .q-box{ margin-top: 67px; font-weight: 600; color: #fff; font-size: 25px; }
.main .apply-section .item .q-box .icon{ display: block; margin: 0 auto; margin-bottom: 13px; }
.main .apply-section .item .a-list{ font-weight: 500; width: 100%; margin-top: 44px;  }
.main .apply-section .item .a-list > label{ cursor: pointer; display: block; }
.main .apply-section .item .a-list > label + label{ margin-top: 18px; }
.main .apply-section .item .a-list label > input[type="radio"]{ display: none; }
.main .apply-section .item .a-list label > input[type="radio"] + .text{ padding: 16px 10px; font-size: 18px; border: 1px solid #FFF; border-radius: 174px; background: rgba(255, 255, 255, 0.08); box-shadow: 0 0 46px 0 rgba(0, 0, 0, 0.10); }
.main .apply-section .item .a-list label > input[type="radio"] + .text .small{ font-size: .8em; }
.main .apply-section .item .a-list label > input[type="radio"]:checked + .text{ color: #2E2E2E; background-color: #FFF; box-shadow: 0 0 46px 0 rgba(0, 0, 0, 0.10); }
.main .apply-section .item .btn-div{ width: 100%; margin-top: 98px; display: flex; gap: 10px; }
.main .apply-section .item .btn-div .pn-btn{ font-weight: 700; border: none; background-color: #09241E; border-radius: 4px; color: #fff; padding: 20px 10px; }
.main .apply-section .item .btn-div .pn-btn.next-btn{ flex-grow: 1; }
.main .apply-section .item .btn-div .pn-btn.prev-btn{ background-color: #0F352D; width: 112px; }
.main .apply-section .item .input-wrap .q2{ font-size: 18px; }
.main .apply-section .item .ipt{ margin-top: 10px; border-radius: 174px; padding: 18px 27px; background: rgba(255, 255, 255, 0.08); }
.main .apply-section .item .ipt::placeholder{ color: #7C958F; }
.main .apply-section .item .result-content{ margin-top: 36px; }
.main .apply-section .item .result-content .bar{ margin: 0 auto; width: 100px; height: 2px; background-color: #fff; margin-bottom: 39px; }
.main .apply-section .item .result-content p{ font-size: 20px; line-height: 1.5em; }
.main .apply-section .item .result-content p + p{ margin-top: 10px; }
.main .apply-section .item .result-content .ipt{ border-radius: 4px; background: rgba(255, 255, 255, 0.08); border: 1px solid rgba(255, 255, 255, 0.08); }
.main .apply-section .item .result-content .ipt::placeholder{ color: #fff; }
.main .apply-section .item .agreeCheckDiv{ color: #fff; }
.main .apply-section .agreeCheckDiv label input[type="checkbox"] + .textBox{ cursor: pointer; padding-left: 30px; position: relative; margin-top: 10px; }
.main .apply-section .agreeCheckDiv label input[type="checkbox"] + .textBox::before{ position: absolute; top: -3px; left: 0; width: 23px; height: 23px; border-radius: 2px; border: 1px solid #fff; }
.main .apply-section .agreeCheckDiv label input[type="checkbox"]:checked + .textBox::before{ background-color: transparent; background-image: url('../img/main/apply-section/check-icon.svg'); }
.main .apply-section .item .notice{ margin-top: 24px; font-size: 18px; }

@media screen and (max-width: 1250px) { 
    .main .apply-section .half-box .phone-wrap{ padding: 85px 62px 0 62px; width: 500px; height: 654px; }
    .main .apply-section .item .a-list{ margin-top: 30px; }
    .main .apply-section .item .a-list > label + label{ margin-top: 10px; }
    .main .apply-section .item .btn-div{ margin-top: 30px; }
    .main .apply-section .item .q-box{ margin-top: 30px; font-size: 20px; }
    .main .apply-section .item .a-list label > input[type="radio"] + .text{ font-size: 16px; }
    
    .main .apply-section .half-box .content-box .t1{ font-size: 18px; }
    .main .apply-section .half-box .content-box .t2{ font-size: 34px; }
}
@media screen and (max-width: 950px) { 
    .main .apply-section .half-box{ gap: 40px; flex-direction: column; }
    .main .apply-section .half-box .content-box{ align-items: center; text-align: center; width: 100%; }
    .main .apply-section .half-box .content-box .bar{ height: 70px; }
}
@media screen and (max-width: 650px) { 
    .main .apply-section .logo{ width: 50px; }
    .main .apply-section .half-box .content-box .t1{ font-size: 16px; word-break: keep-all; }
    .main .apply-section .half-box .content-box .t2{ font-size: 24px; }
    .main .apply-section .half-box .content-box .bar{ margin-top: 20px; }
    .main .apply-section .half-box .content-box .content{ margin-top: 20px; font-size: 20px; }
    .main .apply-section .half-box .phone-wrap{ width: 100%; height: 116vw; padding: 17vw 13vw 0 13vw; }
    .main .apply-section .item .progress{ gap: 1vw; }
    .main .apply-section .item .progress .dot{ width: 2vw; height: 2vw; }
    .main .apply-section .item .progress .dot.on{ width: 6vw; }
    .main .apply-section .item .q-box{ margin-top: 5vw; font-size: 4vw; }
    .main .apply-section .item .a-list{ margin-top: 4.5vw; }
    .main .apply-section .item .a-list label > input[type="radio"] + .text{ font-size: 3.5vw; padding: 2vw; }
    .main .apply-section .item .a-list{ margin-top: 4.5vw; }
    .main .apply-section .item .input-wrap .q2{ font-size: 3.5vw; }
    .main .apply-section .item .ipt{ padding: 2vw 4vw; font-size: 3.5vw; }
    .main .apply-section .item .btn-div{ margin-top: 8vw; gap: 2vw; }
    .main .apply-section .item .btn-div .pn-btn{ padding: 3vw 2vw; font-size: 3vw; }
    .main .apply-section .item .btn-div .pn-btn.prev-btn{ width: 22vw; }

    .main .apply-section .item .q-box .icon{ margin-bottom: 2vw; width: 10vw; }
    .main .apply-section .item .result-content{ margin-top: 5vw; }
    .main .apply-section .item .result-content .bar{ margin-bottom: 4vw; }
    .main .apply-section .item .result-content p{ font-size: 3.5vw; }
    .main .apply-section .item .notice{ font-size: 3.2vw; margin-top: 3vw; }
    .main .apply-section .agreeCheckDiv label input[type="checkbox"] + .textBox{ margin-top: 0; padding-left: 23px; }
    .main .apply-section .agreeCheckDiv label input[type="checkbox"] + .textBox::before{ top: 1px; width: 15px; height: 15px; }
}

/* .main .map-section */
.main .map-section{ background-image: url('../img/main/map-section/background.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; }
.main .map-section .item-list{ position: relative }
.main .map-section .item-list > li{ opacity: 0; visibility: hidden; position: absolute; width: 100%; left: 0; top: 0; }
.main .map-section .item-list > li:nth-child(1){ position: relative; }
.main .map-section .item-list > li.show{ opacity: 1; visibility: visible; }
.main .map-section .item{ display: flex; gap: 30px; align-items: flex-end; }
.main .map-section .item .main-title .title{ color: #446158; }
.main .map-section .item .info{ flex-shrink: 0; }
.main .map-section .item .main-content{ color: #7F7F7F; }
.main .map-section .item .address{ margin-top: 48px; padding: 30px 0; color: #446158; border-top:1px solid #7F7F7F; border-bottom:1px solid #7F7F7F;  }
.main .map-section .item .address > div{ display: flex; align-items: center; gap: 8px;  }
.main .map-section .item .address > div + div{ margin-top: 10px; }
.main .map-section .item .btn-wrap{ margin-top: 20px; display: flex; gap: 10px; }
.main .map-section .item .btn-wrap .item{ padding: 14px 20px; border: 2px solid #7F7F7F; color: #446158; background-color: #F4F2F1; }
.main .map-section .item .btn-wrap .item.on{ border: 2px solid #446158; background: rgba(68, 97, 88, 0.10); }
.main .map-section .item .info-list{ margin-top: 24px;  }
.main .map-section .item .info-list > li{ padding: 10px 0; display: flex; gap: 10px; }
.main .map-section .item .info-list .label{ flex-shrink: 0; color: #446158; width: 80px; }
.main .map-section .item .map-box{ background-color: #7f7f7f; flex-grow: 1; height: 446px; }
.main .map-section .item .map-box > div{ width: 100% !important; height: 100% !important; }

@media screen and (max-width: 950px) { 
    .main .map-section .item{ flex-direction: column; }
    .main .map-section .item .info{ width: 100%; }
    .main .map-section .item .map-box{ width: 100%; height: 50vw; }
}
@media screen and (max-width: 650px) { 
    .main .map-section .item .btn-wrap .item{ padding: 10px; }
    .main .map-section .item .address{ font-size: 14px; padding: 20px 0; margin-top: 20px; }
    .main .map-section .item .info-list{ margin-top: 20px; font-size: 14px; }
    .main .map-section .item .info-list .label{ flex-shrink: 0; }
}

/* 우측 플로팅 메뉴 .item-list */
.floating-list{ position: fixed; right: 60px; bottom: 100px; }
.floating-list > li + li{ margin-top: 6px; }
.floating-list a{ width: 80px; height: 80px; font-weight: 600; display: block; background-color: #fff; border: 2px solid #D1A765; border-radius: 50%; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 5px; color: #085F38; }

@media screen and (max-width: 1800px) { 
    .floating-list{ right: 20px; }
    .floating-list a{ font-size: 14px; width: 65px; height: 65px; gap: 0; }
    .floating-list a .icon{ width: 20px; }
}
@media screen and (max-width: 1250px) { 
    .floating-list{ bottom: 200px; }
}
@media screen and (max-width: 950px) { 
    .floating-list{ bottom: 180px; right: 10px; }
    .floating-list a{ width: 35px; height: 35px; }
    .floating-list a .txt{ display: none; }
}
@media screen and (max-width: 650px) { 
    .floating-list{ bottom: 170px; }
}

